autograd==1.3
cvxopt==1.2.0
cvxpy==1.1.7
cycler==0.10.0
olefile==0.46
pandas==1.1.5
pyparsing==2.4.7
scikit-image==0.17.2
scikit-learn
scipy
torch==1.6.0
torchvision==0.7.0
urllib3==1.26.3
yarg==0.1.9
